/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Inter";
  src: url("../public/Inter-VariableFont_slnt,wght.ttf") format('woff2') tech('variations'), url("../public/Inter-VariableFont_slnt,wght.ttf") format('woff2-variations');
  font-weight: 100 1000;
  /* https://web.dev/variable-fonts/, and the Inter font family download from google fonts has a readme with more info*/
}
/* //Hack to show the current anyone out of overflow hidden */
.swiper {
  overflow-x: clip !important;
  overflow: initial;
}
/**
 * END --- SETUP TAILWINDCSS EDIT
 */
